################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/IPS MAS SALUD Y VIDA/v15/Server/sqlite3/db.lock
